@model IEnumerable<WineTasting.Models.Tasting.TastingListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*Successful creation message*@
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TastingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Host)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.TastingId)
            <td>
                @Html.DisplayFor(modelItem => item.TastingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Host)
            </td>

            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.TastingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TastingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TastingId }) |
                @Html.ActionLink("Add Wine", "Create", "Wine", new { item.TastingId }, null) |
                @Html.ActionLink("Wine List", "Index", "Wine", new { item.TastingId }, null)
            </td>
        </tr>
    }

</table>
<hr />
